{% extends 'base.html' %}
{% load blog_tags %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block content %}
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">{{ post.title }}</h1>
            <p class="lead text-muted">
                {{ post.body|markdown }}

                <a href="{% url "blog:post_share" post.id %}">Share this post</a>

            </p>
            <p>Published {{ post.publish }} by {{ post.author }}</p>
            Похожие статьи:
            {% for similar in similar_posts %}
                <a href="{{ similar.get_absolute_url }}">{{ similar.title }}</a>
            {% endfor %}

        </div>
    </div>


    {% with comments.count as total_comments %}
        <h2>{{ total_comments }} comment {{ total_comments|pluralize }}</h2>
    {% endwith %}

    {% for comment in comments %}
        <div class="justify-content-md-end">
            <p class="text-info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}


    {% if new_comment %}
        <h2>Yor comment has been added.</h2>

    {% else %}
        <h2>Add a new comment</h2>
        <form action="." method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <button type="submit" value="Add comment" class="btn btn-primary mb-3">Add comment</button>

        </form>

    {% endif %}

{% endblock content %}

{#TODO: переписать форму коментов под бутстрап и форму отправки письма через шару #}