{% extends 'base.html' %}
{% block title %}
{{ post.title }}
{% endblock %}
{% block content %}
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{{ post.title }}</h1>
        <p class="lead text-muted">
            {{ post.body|linebreaks }}
          <p>
          <a href="{% url "blog:post_share" post.id %}">Share this post</a>
      </p>
        </p>
          <p>Published {{ post.publish }} by {{ post.author }}</p>
            </div>
    </div>
{% endblock content %}

