{% extends 'base.html' %}
{% load blog_tags %}
{% block title %}
My Blog
{% endblock %}

{% block content %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">My Blog</h1>

        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>

      </div>
    </div>
  </section>


<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
{% if tag %}
      <h2>Post tagged with "{{ tag.name }}" </h2>
{% endif %}
          {% for post in posts %}
          <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>{{ Post.title }}</title>

                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ Post.title }}</text></svg>

            <div class="card-body">
              <p class="card-text">
              {{ post.body|markdown|truncatewords_html:10 }}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">{{ post.publish }} by {{ post.author }}

                  Tags: {{ post.tags.all|join:", " }}
                </small>


                  <p class="tags">
      Tags:
      {% for tag in post.tags.all %}
        <a href="{% url "blog:post_list_by_tag" tag.slug %}">
          {{ tag.name }}
        </a>
        {% if not forloop.last %}, {% endif %}
      {% endfor %}
    </p>
              </div>
            </div>
          </div>              <a href="{{ post.get_absolute_url }}"> Link </a>

        </div>


          {% endfor %}



      </div>

    </div>

  </div>
    {% include 'blog/pagination.html' with page=posts %}
{#    {% include 'blog/pagination.html' with page=page_obj %}#}
{#    #  Базовый обработчик Django передает обект через page_obj#}


{% endblock %}

